@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

ul > li {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background: url(../img/background3.jpg) no-repeat 50% / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
}

/* box style */
.box-style {
  background: rgba(253, 253, 253, 0.336);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}

section.todo {
  width: 70%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: all 0.3s ease-in;
}

.todo-con {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10% 15%;
}

span.today {
  font-size: 1.3em;
  font-weight: 600;
}
span.clock {
  font-size: 5.5em;
  font-weight: bold;
  line-height: 1.3em;
  font-family: "Roboto", sans-serif;
  word-break: break-all;
}
h1.title {
  font-weight: 400;
  color: #333;
  margin: 7% 0;
  font-family: "Roboto", sans-serif;
}

/* todoForm */
#todoInput {
  width: 70%;
  line-height: 2.5em;
  padding-left: 20px;
  background-color: rgba(240, 248, 255, 0.384);
  transition: all 0.3s;
}

#todoInput:hover,
#todoInput:focus {
  background-color: rgba(240, 248, 255, 0.993);
}

#todoSubmit {
  line-height: 1.5em;
  font-size: 1.5em;
  padding-left: 10px;
}

#todoSubmit:hover {
  transform: scale(1.2);
}

ul.items {
  width: 100%;
  height: 150px;
  padding: 1% 5%;
  margin-top: 10%;
  background: url(../img/wave2.png) no-repeat 50% / cover;
  overflow-y: scroll;
}
ul.items li {
  width: 100%;
  margin: 2% auto;
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}
.todoText {
  width: 50%;
  word-wrap: break-word;
}
.date {
  font-size: 0.8em;
}
button {
  background: transparent;
  border: none;
  transition: color 0.1s ease-in;
  cursor: pointer;
}
.delete:hover {
  color: orangered;
}
.finish:hover {
  color: green;
}
.finished {
  color: #fff;
  background-color: rgba(0, 65, 0, 0.438);
}
.hidden {
  display: none;
}
